body{
    font-family: Roboto;
}

.container{
    width: 1272px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
}


.header-list{
    margin-left: 120px;
    display: flex;
    gap: 24px;
    
}

.header-item{
    padding-top: 17px;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.header-img{
    width: 121px;
    height: 16px;
}

.header-items{
    display: flex;
    justify-content: right;
    margin-top: 28px;
    margin-right: 96px;
    margin-bottom: 27px;
}

